#root, html, body {
    margin: 0;
    padding: 0;
    height: 100vh;
    box-sizing: border-box;
}

.app{
    height: 100vh;
    background: url('./images/bg.jpg');
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items:center;
    text-align: center;
}
.card{
    width: 600px;
    box-shadow: 2px 2px 7px rgb(0, 0, 0);
    padding: 30px;
    background-color: rgb(255, 255, 255);
}
.heading{
    font-family: 'Spartan', sans-serif;
}
.button{
    position: relative;
    background-color:rgb(29, 95, 133);
    outline: none;
    text-decoration: none;
    padding: 15px;
    border-radius: 10px;
    border: none;
    cursor: pointer;

}
.button span{
    color: #fff;
    font-size: 12px;
    font-weight: 500;
    letter-spacing: 0.7px;
}

.button:hover {
    background-color: rgb(23, 73, 102);
    animation: rotate 0.7s ease-in-out both;
  }
    
  .button:hover span {
    animation: storm 0.7s ease-in-out both;
    animation-delay: 0.06s;
  }
    
  @keyframes rotate {
    0% {
      transform: rotate(0deg) translate3d(0, 0, 0);
    }
    25% {
      transform: rotate(3deg) translate3d(0, 0, 0);
    }
    50% {
      transform: rotate(-3deg) translate3d(0, 0, 0);
    }
    75% {
      transform: rotate(1deg) translate3d(0, 0, 0);
    }
    100% {
      transform: rotate(0deg) translate3d(0, 0, 0);
    }
  }
    
  @keyframes storm {
    0% {
      transform: translate3d(0, 0, 0) translateZ(0);
    }
    25% {
      transform: translate3d(4px, 0, 0) translateZ(0);
    }
    50% {
      transform: translate3d(-3px, 0, 0) translateZ(0);
    }
    75% {
      transform: translate3d(2px, 0, 0) translateZ(0);
    }
    100% {
      transform: translate3d(0, 0, 0) translateZ(0);
    }
  }  

  @media only screen and (max-width: 700px) {
    .card {
        width: 80%;
        /* height: 30%; */
    }
    .app{
        background-position: 90%;
    }
  }